Programming requests: 
- Instead of repeating code use **def function**, **for loop**, **while loop**
- Titles on graphs
- explain what you are doing, needs a conclusion ie Introduction, Explainations, Conclusions

## Compare the number of imported and exported cattle from Ireland and France
### A data science approach to investigation into import and export of cattle from Ireland and France using data from [FAOSTAT](https://www.fao.org/faostat/en/#data/TCL)
#### Naomi Tunstead - sba22222
#### MSc in Data Analytics
#### MSC_DA_CA2

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import the data
df = pd.read_csv('FAOSTAT_data.csv')

In [3]:
# High level overview of the dataset
df.sample(10)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
251,TCL,Crops and livestock products,250,France,5922,Export Value,2111,Cattle,2018,2018,1000 US$,1743739,A,Official figure
347,TCL,Crops and livestock products,372,Ireland,5622,Import Value,2111,Cattle,1987,1987,1000 US$,6985,A,Official figure
179,TCL,Crops and livestock products,250,France,5908,Export Quantity,2111,Cattle,2013,2013,Head,1309566,A,Official figure
316,TCL,Crops and livestock products,372,Ireland,5610,Import Quantity,2111,Cattle,2016,2016,tonnes,338,A,Official figure
502,TCL,Crops and livestock products,372,Ireland,5922,Export Value,2111,Cattle,2015,2015,1000 US$,99553,A,Official figure
182,TCL,Crops and livestock products,250,France,5908,Export Quantity,2111,Cattle,2016,2016,Head,1480824,A,Official figure
107,TCL,Crops and livestock products,250,France,5622,Import Value,2111,Cattle,2001,2001,1000 US$,56132,A,Official figure
28,TCL,Crops and livestock products,250,France,5608,Import Quantity,2111,Cattle,1989,1989,Head,292464,A,Official figure
478,TCL,Crops and livestock products,372,Ireland,5922,Export Value,2111,Cattle,1991,1991,1000 US$,113549,A,Official figure
401,TCL,Crops and livestock products,372,Ireland,5908,Export Quantity,2111,Cattle,1981,1981,Head,431034,A,Official figure

We can see here that there are a number of columns not needed. This includes

vs code trial